.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.sectionTitle {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 30px;
}

.experienceList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 500px;
}

.experienceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--experience-card-bg);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 325px;
    transition: transform 0.3s ease-in-out;
}

.experienceCard:hover {
    transform: scale(1.02);
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    margin: 0;
}

.employmentDetails {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 5px;
}

.responsibilities {
    text-align: left;
    margin-top: 10px;
    padding-left: 20px;
    
}

.responsibilities li {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

.companyLink {
    color: var(--link-color);
    font-weight: bold;
}

.companyLink:hover {
    color: #007bff;
}

@media (width >= 800px) {
    .experienceList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: fit-content;
    }
    
}

@media (width >= 1400px) {
    .experienceCard {
        padding: 10px;
    }

    .experienceList {
        gap: 20px;
    }
}